<div class="mobile">
    <div class="logo"></div>
    <div class="profile">
        <div class="menu">
            <ul>
                <li><a href="#/home">홈</a></li>
                <li><a href="#/search">검색</a></li>
                <li><a href="#/share">공유</a></li>
                <li><a href="#/chat">채팅</a></li>
                <li><a href="#/setting">설정</a></li>
                <li ng-click="logout()">로그아웃</li>
                <!--<li class="btn btn-default" ng-click="writePost($event)"><img src="./images/write.png"></li>-->
            </ul>
        </div>
        <!--<div class="me">-->
            <!--<span><img src={{user.photoURL}}></span>-->
            <!--<span>{{user.displayName}}</span>-->
        <!--</div>-->
    </div>
</div>


